<ul id="comments">
    {% if user %}
        <li>Post comment: <form action="{{ API["comment_post"].format(post.post_id) }}" method="POST">
            <input id="content" name="content" placeholder="Hey.....">
            <input type="submit" value="Submit">
        </form></li>
    {% endif %}
    {% for comment in comments|reverse %}
        <li><a href="{{ routes["user"].format(comment.author) }}">{{ comment.author }}</a>: {{ comment.content }}
            <ul class="replies">
                {% for reply in comment.replies %}
                    <li>
                        <a href="{{ routes["user"].format(reply.author) }}">{{ reply.author }}</a>: {{ reply.content }}
                    </li>
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
</ul>